<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Confirmation de votre compte</title>
</head>
<body>
  <p>Bonjour,</p>
  <p>Merci de vous être inscrit sur notre site. Pour activer votre compte, veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :</p>
  <p><a href="{{ confirm_url }}">Confirmer mon compte</a></p>
  <p>Si vous n'avez pas fait cette demande, vous pouvez ignorer cet e-mail en toute sécurité.</p>
  <hr />
  <p>Cordialement,<br>L'équipe Suivi Activités</p>
</body>
</html>
