{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Réinitialisation du mot de passe</h2>
  <p>Veuillez entrer votre adresse e-mail. Si elle est valide, un lien de réinitialisation vous sera envoyé.</p>
  
  <form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control", placeholder="Entrez votre e-mail") }}
    </div>

    <div>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}
